<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiuzhou.oversea.ldxy.offical">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.jiuzhou.oversea.ldxy.offical.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_tulong_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_tulong_app"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme">


        <activity
            android:name="com.jiuzhou.oversea.ldxy.offical.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MainTheme"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.jiuzhou.oversea.ldxy.offical.PayTestActivity" />

        <activity android:name=".web.WebViewActivity" />

        <activity android:name=".pay.TextLoadingWebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".pay.ChooseUrlPayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/JiuzhouOverseaSdkAppTheme"/>

        <!--facebook start-->
<!--        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>-->

<!--        <activity-->
<!--            android:name="com.facebook.FacebookActivity"-->
<!--            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
<!--            android:label="@string/app_name" />-->

<!--        <activity android:name="com.facebook.CustomTabActivity" android:exported="true">-->
<!--            <intent-filter> <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="@string/fb_login_protocol_scheme" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


        <!--facebook end-->

        <!--<service
            android:name=".MyNewFirebaseManager">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>-->

    </application>

</manifest>